@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android' ;
    src: url('./fontes/idroid.otf'); format:('opentype')
}

:root{
    --font-padrão: Arial, Verdana, sans-serif;                  
    --font-Android: 'android', arial;
    --font-Destaque: "Bebas Neue", arial, sans-serif;
}

*{
    font-family: var(--font-padrão);
    margin: 0px;
}

body{
    background-color: rgba(5, 80, 5, 0.466);
   
}

header{
    background-image: linear-gradient(to bottom, rgba(144, 238, 144, 0.253), green, darkgreen);
    min-height: 170px;
    
    padding: 0px 10px;
    
}

header>h1{
    color: white;
    text-align: center;
    font-family: var(--font-Destaque);
    font-weight: normal;
    padding: 40px 0px 0px 0px;
    font-size: 3em;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.521);
    
}

header p{
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0px 0px 0px;
}

nav ul{
    background-color: rgb(1, 24, 1);
    color: white;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    
    
}

nav ul>li{
    display: inline;
    margin-right: 80px;
    padding-left: 15px;
    
}

nav ul>li:hover{
    color: rgb(0, 128, 0);
    background-color: rgb(157, 238, 157);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}

main{
    min-width: 300px;
    max-width: 1000px;
    
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}



main h1{
    font-family: var(--font-Android);
    font-size: 2em;
    font-weight: normal;
    color: darkgreen;

    
}

main h2{    font-family: var(--font-Android);
    font-size: 1.8em;
    font-weight: normal;
    color: darkgreen;
    background-image: linear-gradient(to right, rgba(0, 100, 0, 0.37), lightgreen, white);
}

main p{
    margin: 25px 0px;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: justify;
    text-indent: 18px;

}

aside{
    background-color: rgba(158, 243, 158, 0.644);
    padding: 10px;
    border-radius: 10px;
    
}


aside h3{
    background-color: darkgreen;
    padding: 10px;
    margin: -10px -10px -22px -10px;
    color: white;
    font-size: 1.3em;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style: none;
    columns: 2;
    font-size: 1em;
}

aside p{
    font-size: 1em;
}


footer p{
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    margin: 30px 0px 0px 0px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;

}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: green;
    text-decoration: underline;
}

img{
    width: 100%;
}

main #bug{
    width: 52%;
    display: block;
    margin: auto;
}